---
BasedOnStyle: Mozilla
AccessModifierOffset: '0'
AlignConsecutiveMacros: 'true'
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'true'
AlignEscapedNewlines: Left
BreakBeforeBraces: Attach
ColumnLimit: '140'
IndentWidth: '4'
TabWidth: '4'
UseTab: Always
Cpp11BracedListStyle: 'false'
SpacesInAngles: 'true'


...
